name: CI Pipeline

on:
  push:
    branches:
      - "*"
  pull_request:
    branches:
      - master

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Source Code
        uses: actions/checkout@v3

      - name: Setup Node.js
        uses: actions/setup-node@v3
        with:
          node-version: "18"

      - name: Install Commit Lint + Dependencies
        run: |
          npm init -y
          npm install --save-dev @commitlint/{config-conventional,cli}

      - name: Commit Lint (check last commit)
        run: |
          npx commitlint --from=HEAD~1 --to=HEAD

      - name: Dummy Build
        run: echo "Build Successful!"

      - name: Dummy Tests
        run: echo "Tests Passed!"
